elevenlabs==2.18.0
openai-whisper==20250625
torch==2.8.0+cu128
torchaudio==2.9.1
torchcodec==0.7.0
torchvision==0.23.0
transformers==4.57.1
scikit-learn==1.6.1
jiwer==4.0.0
streamlit==1.43.1
fpdf==1.7.2
pandas==2.1.0
